#fh5co-header .navbar-brand {
    padding-top: 0;
}

#fh5co-header .navbar-brand img {
    content: url("../images/logo_w.png");
}

#fh5co-header.navbar-fixed-top .navbar-brand img {
    content: url("../images/logo_b.png");
}