#fh5co-header .navbar-brand {
    padding-top: 0;
}

#fh5co-header.navbar-fixed-top .navbar-brand {
    padding-top: 4px;
}

#fh5co-header .navbar-brand img {
    content: url("../images/logo_w.png");
}

#fh5co-header.navbar-fixed-top .navbar-brand img {
    content: url("../images/logo_be.png");
}

.dropdown-menu {
    background-color: #fff;
}

.dropdown > .btn-link {
    padding: 3px 20px;
    margin-top: 17px;
    color: rgba(255, 255, 255, 0.5);
    border: 0 rgba(255, 255, 255, 0.5);
    border-left: 1px solid;
}
.dropdown > .btn-link:hover,
.dropdown > .btn-link:focus{
    background-color: transparent !important;
    color: #fff;
}

#fh5co-header.navbar-fixed-top #navbar .dropdown > .btn-link {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.5);
}
#fh5co-header.navbar-fixed-top #navbar .dropdown > .btn-link:hover {
    color: #52d3aa;
}

@media (min-width: 979px) {
    #fh5co-header ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
}

#fh5co-header #navbar .dropdown-menu li a {
    color: #000;
}
