/* input placeholder to right */
::-webkit-input-placeholder { text-align:right; }
::-moz-placeholder { text-align:right; }
:-moz-placeholder { text-align:right; }
:-ms-input-placeholder { text-align:right; }

/* navbar menu */
@media (min-width: 769px) {
    .navbar-header {
        float: right;
    }

    #navbar {
        float: left;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row-reverse;
    }

    .dropdown > .btn-link {
        border-left: 0;
        border-right: 1px solid;
    }
}

/* contact */
@media (min-width: 769px) {
    #fh5co-contact .row-bottom-padded-md {
        display: flex;
        flex-direction: row-reverse;
    }
}
#fh5co-contact .fh5co-contact-info li {
    text-align: right;
    padding-left: 0;
    padding-right: 50px;
}
#fh5co-contact .fh5co-contact-info li i {
    left: auto;
    right: 0;
}
#fh5co-contact .btn {
    float: right;
}

/* intro */
#fh5co-intro .fh5co-block {
    float: right;
}
/* redefine animation stacking blocks (ltr -> rtl = -50px) from animate.css*/
@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        /*-webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);*/
        -webkit-transform: translate3d(-50px, 0, 0);
        transform: translate3d(-50px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInRight {
    from {
        opacity: 0;
        /*-webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);*/
        -webkit-transform: translate3d(-50px, 0, 0);
        transform: translate3d(-50px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}