<!-- jQuery -->
<script src="/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="/js/jquery.waypoints.min.js"></script>
<!-- Stellar Parallax -->
<script src="/js/jquery.stellar.min.js"></script>
<!-- Counter -->
<script src="/js/jquery.countTo.js"></script>
<!-- Magnific Popup -->
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/magnific-popup-options.js"></script>
<!-- Google Map -->
{{ if .Site.Params.contact.map }}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
<script src="/js/google_map.js"></script>
{{ end }}
<!-- Main JavaScript -->
<script src="/js/main.js"></script>
<script type="application/javascript">

    let availibilityNbre = 0;

    $('input[type=radio][name=gender]').change(function() {
        var address = '//formspree.io/';
        address += this.value==='male' ? 'markezalistiqamah@gmail.com' : 'akhawat.markezalistiqamah@gmail.com';
        $('#sendQuestion').attr('action',address);
    });

    //subscribe.html
    $('#add-avalaibility').click(function() {
        if (availibilityNbre >= 3) {
            return;
        }
        const template = '<div class="form-group line" style="display: none">\n' +
            '                            <select name="days_'+availibilityNbre+'" class="form-control days" required>\n' +
            '                                {{ with .Site.Params.subscribe.daysLabel }}\n' +
            '                                    <option value="" selected disabled>{{ . }}</option>\n' +
            '                                {{ end }}\n' +
            '                                {{ range .Site.Params.subscribe.days }}\n' +
            '                                    <option value="{{ . }}">{{ . }}</option>\n' +
            '                                {{end}}\n' +
            '                            </select>\n' +
            '                            {{ with .Site.Params.subscribe.hoursLabel }}\n' +
            '                                <label for="hour_'+availibilityNbre+'"></label>\n' +
            '                                <input type="number" id="hour"'+availibilityNbre+' class="form-control hours" name="hour_'+availibilityNbre+'" min="0" max="23" placeholder="{{ . }}" required>\n' +
            '                            {{end}}\n' +
            '                            {{ with .Site.Params.subscribe.minutesLabel }}\n' +
            '                                <label for="minute_'+availibilityNbre+'"></label>\n' +
            '                                <input type="number" id="minute_'+availibilityNbre+'" class="form-control minutes" name="minute_'+availibilityNbre+'" step="30" min="0" max="59" placeholder="{{ . }}" required>\n' +
            '                            {{end}}' +
                '                        <div class="remove-avalaibility form-control" onclick="removeLine(this)">\n' +
                '                            <i class="lni lni-circle-minus"></i>\n' +
                '                        </div>\n'+
            '                        </div>';


        $(template).insertBefore(this).slideDown("slow");
        availibilityNbre++;
    });
    window.addEventListener("DOMContentLoaded", (event) => {
        $('#add-avalaibility').click()
    });
    function removeLine(el) {
        $(el).closest('.line').slideUp("slow", function(){ $(this).remove();});
        availibilityNbre--;
    }
</script>