	<!-- jQuery -->
	<script src='{{ "js/jquery.min.js" | relURL}}'></script>
	<!-- jQuery Easing -->
	<script src='{{ "js/jquery.easing.1.3.js" | relURL}}'></script>
	<!-- Bootstrap -->
	<script src='{{ "js/bootstrap.min.js" | relURL}}'></script>
	<!-- Waypoints -->
	<script src='{{ "js/jquery.waypoints.min.js" | relURL}}'></script>
	<!-- Stellar Parallax -->
	<script src='{{ "js/jquery.stellar.min.js" | relURL}}'></script>
	<!-- Counter -->
	<script src='{{ "js/jquery.countTo.js" | relURL}}'></script>
	<!-- Magnific Popup -->
	<script src='{{ "js/jquery.magnific-popup.min.js" | relURL}}'></script>
	<script src='{{ "js/magnific-popup-options.js" | relURL}}'></script>
	<!-- Google Map -->
	{{ if .Site.Params.contact.map }}
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
	<script src='{{ "js/google_map.js" | relURL}}'></script>
	{{ end }}
	<!-- Main JavaScript -->
	<script src='{{ "js/main.js" | relURL}}'></script>
